.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px  0 10px 0;
    width: 100%;
    min-height: 700px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .list-product-card {
    display: flex;
    
    gap: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    transition: 0.3s;
   
  }
  
  .list-product-card:hover {
    box-shadow: 0px 2px 4px #7272721a;
  }
  
  .headerbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .list-product-details {
    flex: 1;
  }
  
  .list-product-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .list-product-pricing {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .list-price {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  .list-original-price {
    font-size: 12px;
    color: #888;
    text-decoration: line-through;
  }
  
  .list-product-rating {
    font-size: 12px;
    color: #333;
    margin: 6px 0;
  }
  
  .list-rating-score {
    font-weight: bold;
    color: #f90;
    font-size: 15px;
  }
  
  .list-free-shipping {
    color: #0a8f08;
    font-weight: bold;
  }
  
  .list-product-description {
    font-size: 14px;
    color: #555;
    margin: 6px 0;
  }
  
  .view-details {
    font-size: 14px;
    color: #0D6EFD;
    text-decoration: none;
    
  }
  
  .view-details:hover {
   
  }
  

  @media(max-width:740px){

  }


  @media(max-width:480px){
    .list-product-card{
      gap: 2px;
    }

    .list-product-rating{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;
    }

    .list-rating-score{
      font-size: 14px;

    }
    
    .list-product-image{
      width: 80px;
      height: 80px;
    }
    .list-product-title{
      font-size: 13px;
    }
    .list-product-description{
      display: none;
    }
  }