.suppliers {
    margin: 20px auto;
  }
  
  .supplier-header  {
    font-size: 32px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
  }
  
  .suppliers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 5px;
    gap: 25px;
  }
  
  .supplier-item {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
  }
  
  .flag {
    width: 25%;
    height: 80%;
  }
  
  .user-supplier-info {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  
  .country {
    font-size: 16px !important;
    font-weight: bold !important;
    margin: 0;
  }
  
  .domain {
    font-size: 12px !important;
    color: gray !important;
    margin: 0;
  }
  