
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .outlet-container{
    width: 100%;
    padding: 15px 0;
    /* background-color: #f6f6f6; */

  }


  @media (max-width:780px){
    .container{
      width: 95%;
    }
  }